﻿
@model BookStore.Models.Book

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<h2>A new book</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name, "Name of book")
    <br/>
    @Html.EditorFor(model => model.Name)
    <br/><br />
    @Html.LabelFor(model => model.Author, "Author")
    <br/>
    @Html.EditorFor(model => model.Author)
    <br/><br />
    @Html.LabelFor(model => model.Price, "Price")
    <br/>
    @Html.EditorFor(model => model.Price)
    <br/><br />
    <input type="submit" value="Add" />
}