﻿@model BookStore.Models.Book
@{
    Layout = null;
    ViewBag.Title = "Delete";
}
<h2>Delete book</h2>

<dl>
    <dt>Name of book</dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>Author</dt>
    <dd>
        @Html.DisplayFor(model => model.Author)
    </dd>
    <dt>Price</dt>
    <dd>
        @Html.DisplayFor(model => model.Price)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
