﻿@model BookStore.Models.Book
@{
    Layout = null;
    ViewBag.Title = "Edit";
}

<h2>Book №@Model.Id</h2>

@using (Html.BeginForm())
{
    <fieldset>
        @Html.HiddenFor(m => m.Id)
        <br/>
        <p>
            @Html.LabelFor(m => m.Name, "Name of Book")
            <br/>
            @Html.EditorFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Author, "Author")
            <br />
            @Html.EditorFor(m => m.Author)
        </p>
        <p>
            @Html.LabelFor(m => m.Price, "Price")
            <br />
            @Html.EditorFor(m => m.Price)
        </p>
       <p><input type="submit" value="Send"/></p>
    </fieldset>
}
