﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Книжный магазин</title>
</head>
<body>
    <div>
        <h3>Распродажа книг</h3>
        <table>
            <tr class="header">
                <td><p>Название книги</p></td>
                <td><p>Автор</p></td>
                <td><p>Цена</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Author</p></td>
                    <td><p>@b.Price</p></td>
                    <!-- передаємо id в home контроллер у метод Buy (httpGet)-->
                    <td><p><a href="/Home/Buy?id=@b.Id&text=@b.Name">Купить</a> | <a href="/Home/Delete/@b.Id">Delete</a> | <a href="/Home/Edit/@b.Id">Edit Book</a></p></td>
                </tr>
            }
        </table>
        <p><a href="/Home/Create">Add a new book</a></p>
    </div>
</body>
</html>

@section Footer{
    Всі права захищені адміном @DateTime.Now.ToShortDateString()
    }